DOCUMENTATION/n8n.json
{
    "name": "Plan de Rattrapage InsureTM SMTP",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "catchup-plan",
                "options": {}
            },
            "id": "1",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                100,
                300
            ]
        },
        {
            "parameters": {
                "fieldToSplitOut": "=body.tester_distribution",
                "options": {}
            },
            "id": "8",
            "name": "Split Testers",
            "type": "n8n-nodes-base.itemLists",
            "typeVersion": 1,
            "position": [
                320,
                300
            ]
        },
        {
            "parameters": {
                "fromEmail": "onsbenmassoud7@gmail.com",
                "toEmail": "={{ $json.email }}",
                "subject": "=Alerte Retard - {{ $('Webhook').first().json.body.campaign_title }}",
                "html": "=<!DOCTYPE html><html><body style=\"margin: 0; padding: 0; background-color: #0b1329; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #f8fafc;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color: #0b1329; padding: 40px 20px;\"><tr><td align=\"center\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"max-width: 600px; background-color: #111c44; border-radius: 16px; overflow: hidden; box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.5);\"><tr style=\"background-color: #1a237e; text-align: center;\"><td style=\"padding: 30px;\"><h1 style=\"margin: 0; font-size: 22px; font-weight: 700; color: #00f2fe;\">InsureTM AI Assistant</h1></td></tr><tr><td style=\"padding: 40px; color: #e2e8f0;\"><p style=\"margin: 0; font-size: 16px; font-weight: 600; color: #ffffff;\">Bonjour,</p><p style=\"margin: 0; font-size: 15px; line-height: 1.6;\">🚨 <strong style=\"color: #ff4081;\">Alerte Optimisation :</strong> La campagne <strong>{{ $('Webhook').first().json.body.campaign_title }}</strong> présente un risque de retard.</p><div style=\"background-color: #1e293b; border-left: 4px solid #00f2fe; padding: 20px; border-radius: 8px; margin-bottom: 24px;\"><p style=\"margin: 0; font-size: 14px; line-height: 1.6; color: #cbd5e1;\">📍 <strong>Constat :</strong> Notre moteur d'IA a analysé votre charge de travail actuelle et a déterminé que vous disposez de la bande passante nécessaire pour absorber cette surcharge. En conséquence, vous avez été désigné(e) comme <strong>renfort prioritaire</strong>.</p></div><p style=\"margin: 0; font-size: 15px; line-height: 1.6; color: #94a3b8;\">Veuillez indiquer votre disponibilité :</p><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\"><tr><td align=\"center\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td align=\"center\" style=\"border-radius: 8px;\" bgcolor=\"#00e676\"><a href=\"http://localhost:5678/webhook/reponse-testeur?statut=accepte&manager_email={{ $('Webhook').first().json.body.manager_email }}&tester_id={{ $json.tester_id }}&campaign_id={{ $('Webhook').first().json.body.campaign_id }}\" target=\"_blank\" style=\"font-size: 14px; font-weight: 600; color: #0b1329; text-decoration: none; border-radius: 8px; padding: 12px 24px; display: inline-block;\">👍 Confirmer l'assignation</a></td><td width=\"20\"></td><td align=\"center\" style=\"border-radius: 8px;\" bgcolor=\"#ff1744\"><a href=\"http://localhost:5678/webhook/reponse-testeur?statut=refuse&manager_email={{ $('Webhook').first().json.body.manager_email }}\" target=\"_blank\" style=\"font-size: 14px; font-weight: 600; color: #ffffff; text-decoration: none; border-radius: 8px; padding: 12px 24px; display: inline-block;\">👎 Refuser</a></td></tr></table></td></tr></table></td></tr><tr><td style=\"background-color: #0b1329; padding: 20px; text-align: center; border-top: 1px solid #1e293b;\"><p style=\"margin: 0; font-size: 12px; color: #64748b;\">Ceci est une notification automatique générée par la plateforme InsureTM.</p></td></tr></table></td></tr></table></body></html>",
                "options": {}
            },
            "id": "3",
            "name": "Envoyer Email",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 1,
            "position": [
                540,
                300
            ]
        },
        {
            "parameters": {
                "httpMethod": "GET",
                "path": "reponse-testeur",
                "options": {}
            },
            "id": "4",
            "name": "Webhook Réponse",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                100,
                550
            ]
        },
        {
            "parameters": {
                "fromEmail": "onsbenmassoud7@gmail.com",
                "toEmail": "={{ $json.query.manager_email }}",
                "subject": "Réponse du testeur",
                "html": "=Le testeur a répondu : {{ $json.query.statut }}.",
                "options": {}
            },
            "id": "5",
            "name": "Notifier Manager",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 1,
            "position": [
                600,
                550
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.query.statut }}",
                            "value2": "accepte"
                        }
                    ]
                }
            },
            "id": "6",
            "name": "Si Accepte",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                250,
                450
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://backend:8000/api/analytics/accept-reinforcement/",
                "sendBody": false,
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "campaign_id",
                            "value": "={{ $json.query.campaign_id }}"
                        },
                        {
                            "name": "tester_id",
                            "value": "={{ $json.query.tester_id }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "7",
            "name": "Assigner dans DB",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                420,
                420
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Split Testers",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Testers": {
            "main": [
                [
                    {
                        "node": "Envoyer Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Réponse": {
            "main": [
                [
                    {
                        "node": "Notifier Manager",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Si Accepte",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Si Accepte": {
            "main": [
                [
                    {
                        "node": "Assigner dans DB",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {},
    "tags": []
}